@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Press+Start+2P&family=VT323&display=swap');


a {
    text-decoration: none;
}
body{
    /*background-color: #232B40;*/
    background: linear-gradient(#141e30, #243b55);
    background-attachment: fixed;
    background-size: cover;
}
.box-art {
    font-size: 0;
    display: inline-block;
    position: relative;
}
.box-art img {
    box-shadow: 2px 2px 10px black;
    object-fit: cover;
    object-position: center;
    width:100%;
} 
.box-art .box-art-hover {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border-color 0.4s; 
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}  
a:hover .box-art-hover {
    border-color: #2f5d75;
}   
.product-list a{
    text-decoration: none;
    color: white;
}
/* Product List */
.product-list {
    margin: 0px 55px;
    display: flex;
    flex-wrap: wrap;
}

.product-list .card {
    width: calc(98%/1);
    margin: 1%;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    border:none;
}

.product-list .card:hover{
    background-color: #021424;
}

.product-list .card img {
    width:calc(100vw/4);
    height:200px;
    box-sizing: border-box;
    object-fit:cover;
    object-position: center;
}

.product-list .card h2 {
    font-size: 20px;
}

.product-list .card p {
    font-size:13px;
}

.product-list .card button {
    background: yellow;
    color: #444;
    padding: 15px 20px; /* Shorthanded version of padding-top, padding-right, padding-bottom, padding-left -- When both direction values are the same, write one of them*/
}

/* Responsive */
@media (max-width: 767px) { /* Mobile */
    .product-list .card {
        width: calc(96%/2);
    }
    .product-list {
        margin: 0px 5px;
    }
    .product-list .card h2 {
        font-size: 20px;
    }

    .product-list .card p {
        font-size:16px;
    }

    .product-list .card img {
        width:calc(100vw/2);
        height:200px;
    }
}

@media (min-width: 768px) { /* Tablet */
    .product-list .card {
        width: calc(94%/3);
    }
    .product-list .card img {
        width:calc(100vw/3);
        height:200px;
    }
}

@media (min-width: 1200px) { /* Desktop */
    .product-list .card {
        width: calc(92%/4);
    }
    .product-list .card img {
        width:calc(100vw/4);
        height:200px;
    }
}
