@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    font-weight: 400;
}

.header {
  overflow: hidden;
  background-color: #36008D;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FCD200;
  color: black;
}

.header a.active {
  background-color: #00c988;
  color: white;
}

.header-right {
  float: right;
}


.footer {
  position: fixed;
  padding: 10px 0px;
  left: 0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: #636e72;
  color: white;
  text-align: center;
}

.footer p{
    font-size:15px;
}

.login-container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.error-container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.login-frm{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.error-box{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.error-box .title{
  height: 90px;
  background: #d63031;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-frm .title{
  height: 90px;
  background: #f6b93b;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-frm form{
    padding:20px;
}

.login-frm form input{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  transition: all 0.3s ease;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}


form input:focus{
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
  border-color: #3c6382;
}
form input::placeholder{
  color: #999;
}

.login-frm form .button{
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width:100%;
  background: #fdcb6e;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button:hover{
  background: #f1c40f;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {

  .header a {
    float: none;
    display: block;
    text-align: left;
    font-size: 13px;
    line-height:18px;
  }
  .header a.logo {
    text-align: center;
    margin-bottom: 5px;
  }
  .header-right {
    float: none;
  }
  .header-right a{
    font-size: 13px;
  }
  .login-container{
    margin:10px;
    width:100%;
    padding: 0 20px;
    margin: 170px auto;
  }
  .error-box .title{
      height:60px;
      font-size:20px;
  }
  .login-frm .title{
      height:60px;
      font-size:20px;
    }
    
   .login-frm form input{
      font-size:15px;
    }
    
   .login-frm form .button{
      font-size:15px;
    }
  .footer {
  font-size: 10px;
  }
}
